.text {
  font-family: var(--font);
  line-height: 1.5;
  margin: 0;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 13px;
}

.md {
  font-size: 14px;
}

.lg {
  font-size: 16px;
}

.xl {
  font-size: 18px;
}

.xxl {
  font-size: 22px;
}

.xxxl {
  font-size: 26px;
}

.huge {
  font-size: 30px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}
